.container {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    background-size: cover;
    background-position: center;
    margin-top: 170px;
    border-radius: 10px;
   
  }
    
  /* Responsivo para dispositivos móviles */
  @media (min-width: 768px) {
  
    .cardContainer {
      grid-template-columns: 1fr;
      gap: 15px;
    }
  }

.buttonBack {
height: 40%;
}
@media (min-width: 768px) {   
    .buttonBack {
        position:static; /* Restablece la posición en pantallas pequeñas */
    }
  }
  

  