.Card {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
     overflow: hidden;  /* se utiliza para llenar el contenedor de la imagen*/
    background-color: #fff;
    max-width: 95%;
    margin-block: 20px;
    margin-left: 8px;
    margin-top: 20px;
    /* border-radius: 2px solid rgb(202, 150, 150); */
    /* background-color: yellow; */
    margin-bottom: -13px;
    justify-content: space-around;
    /* flex-direction:row; */
  }
  @media (min-width: 768px) {
    .Card {
        width: 60%;
    }
  }
  
  .image {
    width: 90px;
    height: 80px;
    object-fit: cover;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.6);
    margin-bottom: 10px;

        margin-left: 3px;
    border-radius: 100px;
    border: 2px solid black;
    
  }
  @media (min-width: 768px) {
    .image {
        width: 50%;
        height: 50%;
    }
  }
  
  .title {
    /* background-color: yellow; */
    font-size: 15px;
    font-weight: bold;
    margin: 0;
    padding: 5px;
    /* color: #333; */
    color: rgb(78, 4, 20);
    margin-top: -30%;
    margin-left: 35%;
    margin-right: 2%;
    margin-bottom: 10px; /* Añade más espacio debajo del título */

  }
  @media (min-width: 768px) {
    .title {
        font-size: 20px;
      }
  }
  .price {
    font-size: 20px;
    border-radius: 5px;
    color: #ffffff;
    font-weight: bold; /*grosor del texto*/
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.4);
   /* margin-left: 70%; */
   margin-left: 5%;
 margin-top: -30%;
   background-color: black;
   /* padding: 1px; */
   padding-right: 5px;
   padding-left: 5px;
   margin-bottom: 8px;
  
  }
  @media (min-width: 768px) {
    .price {
        font-size: 16px;
      }
  }
  .description {
    font-size: 18px;
    color: #333232;
    /* margin-top: 13px; */
    margin-top: 20px; /* Aumenta la separación entre la descripción y el título */
    padding: 10px; /* Aumenta el relleno interno */
    /* padding: 6px; */
    text-align: justify;
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.4);
    /* background-color: blue; */
    margin-left: 1%;
    margin-right: 1%;
  }
  @media (min-width: 768px) {

    .description {
        font-size: 22px;
      }
  }
  .detail {
    cursor: pointer;
    background-color: yellow;
    height: 30%;
    width: 33%;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 70px;
  }
 